.form-content {
    opacity: 1;
}

.question-container {
    background-color: #F4F4F4;
    padding: 20px 20px 20px 20px;
    width: 100%;
}

p {
    width: 100%;
}
.displayQuestions{
    text-align: left !important;
}
.questionColor{
    color: #0062ff;
}
